
.styles {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: #fff;
}

.vs {
  margin-top: 4vh;
  font-size: 30px;
  font-weight: bold;
}

body {
  background-color: #222;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('./assets/images/ice_lightning.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


@media screen and (max-width: 780px) {
  .styles {
    display: block;
    width: 100%;
  }

  .vs {
    margin-top: 5vh;
    display: block;
  }

}
